body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#frm {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

p {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
}

#run {
    margin: 20px auto;
}

table,
tr,
td {
    font-size: 40px;
    margin: 0px auto;
    border: 1px solid black;
    padding: 0px;
    border-spacing: 0px;
    text-align: center;
    empty-cells: show;
}

tr {border: 0px;}

td {
    height: 50px;
    width: 400px;
    empty-cells: show;
}

table {
    border: 0px;
    empty-cells: show;
}

.clickedCell {background-color: darkseagreen;}
